server {
  listen 80;
  listen [::]:80;
  
  root /var/www/umut.com/html;
  index index.html index.htm index.nginx-debian.html;

  
  server_name umut.com www.umut.com;


  location / {
    try_files $uri $uri/ =404;
  }
}